<div class="details-block block-left">
  <img class="details-block-image" src="<%= slide[0].image %>" />

  <div class="details-block-information">
    <div class="details-block-buttons">
      <% slide[0].information.buttons.forEach((button) => { %>
      <img class="details-block-button" src="<%= button %>" />
      <% }) %>
    </div>

    <div class="details-block-point-carousel">
      <% slide[0].information.points.forEach((point) => { %>
      <div class="details-block-point-slide">
        <h4 class="details-block-point-title"><%= point.title %></h4>
        <p class="details-block-point-description"><%= point.description %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<div class="details-block block-right">
  <div class="details-block-information">
    <div class="details-block-buttons">
      <% slide[1].information.buttons.forEach((button) => { %>
      <img class="details-block-button" src="<%= button %>" />
      <% }) %>
    </div>

    <div class="details-block-point-carousel">
      <% slide[1].information.points.forEach((point) => { %>
      <div class="details-block-point-slide">
        <h4 class="details-block-point-title"><%= point.title %></h4>
        <p class="details-block-point-description"><%= point.description %></p>
      </div>
      <% }) %>
    </div>
  </div>

  <img class="details-block-image" src="<%= slide[1].image %>" />
</div>
