<% for(let i = 0; i < 2; i++) { %>
<div class="details-block block-<%= i + 1 %>">
  <img class="details-block-image" src="<%= slide[i].image %>" />

  <div class="details-block-information">
    <h4 class="details-block-information-title"><%= slide[i].title %></h4>

    <div class="details-block-point-carousel">
      <% slide[i].points.forEach((point) => { %>
      <div class="details-block-point-slide">
        <div class="details-block-point-title-container">
          <img class="details-block-point-image" src="<%= point.image %>" />
          <h4 class="details-block-point-title"><%= point.title %></h4>
        </div>

        <p class="details-block-point-description"><%= point.description %></p>
      </div>
      <% }) %>
    </div>

    <div class="details-block-buttons">
      <% slide[i].points.forEach(() => { %>
      <div class="details-block-button"></div>
      <% }) %>
    </div>
  </div>
</div>
<% } %>
