<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/shop.css" />
    <title>CyberVerse | Shop</title>
  </head>

  <body>
    <header id="header">
      <nav><%- include("./shop/navbar.ejs") %></nav>
    </header>

    <main>
      <section id="originals">
        <%- include("./shop/originals.ejs", { products: types.originals, post:
        post }) %>
      </section>

      <section id="skins">
        <%- include("./shop/skins.ejs", { products: types.skins, post: post })
        %>
      </section>

      <section id="combos">
        <%- include("./shop/combos.ejs", { products: types.combos, post: post })
        %>
      </section>

      <section id="extras">
        <%- include("./shop/extras.ejs", { products: types.extras, post: post })
        %>
      </section>
    </main>

    <footer id="footer">
      <%- include("./shop/footer.ejs", { footer: footer }) %>
    </footer>

    <script type="module" src="/Shop.js"></script>
  </body>
</html>
