<nav>
  <%- include("./navbar.ejs", { username: username, navbar: navbar }) %>
</nav>

<div class="header-information">
  <img class="header-carousel-button left" src="<%= header.controller[0] %>" />

  <div class="header-carousel">
    <% header.slides.forEach((slide) => { %>
    <div class="header-carousel-slide">
      <h2 class="header-carousel-slide-title"><%= slide.title %></h2>
      <%- include("./header/product.ejs", { products: slide.products }) %>
    </div>
    <% }) %>
  </div>

  <img class="header-carousel-button right" src="<%= header.controller[1] %>" />
</div>

<div class="header-carousel-indicators">
  <% for(let i = 0; i < 3; i++) { %>
  <img class="header-carousel-indicator" src="/buttons/basic/bar.png" />
  <% } %>
</div>

<img class="header-background" src="/home/header/background.png" />
