<a class="nav-logo" href="/">
  <p class="nav-logo-text">CyberVerse</p>
</a>

<div class="nav-links-container">
  <div class="nav-location-links-container">
    <% navbar.locations.forEach((location) => { %>
    <a class="nav-location-link" href="<%= location.URL %>">
      <p class="nav-location-link-text"><%= location.text %></p>
    </a>
    <% }) %>
  </div>

  <div class="nav-social-links-container">
    <% navbar.socials.forEach((social) => { %>
    <a class="nav-social-link" href="<%= social.URL %>">
      <img class="nav-social-link-image" src="<%= social.image %>" />
    </a>
    <% }) %>
  </div>

  <% if(!username) { %>
  <a class="nav-register-link" href="/register">
    <img class="nav-register-link-image" src="/buttons/account/create.png" />
    <p class="nav-register-link-text">Register</p>
  </a>
  <% } else { %>
  <a class="nav-account-link" href="/account">
    <img class="nav-account-link-image" src="/buttons/account/profile.png" />
    <p class="nav-account-link-name"><%= username %></p>
  </a>
  <% } %>
</div>
