<% cart.forEach((product) => { %>
<form class="list-item" action="/account/cart/update" method="post">
  <input type="hidden" name="ID" value="<%= product.product.ID %>" />
  <input type="hidden" name="brand" value="<%= product.details.brand %>" />
  <input type="hidden" name="type" value="<%= product.details.type %>" />
  <input type="hidden" name="subType" value="<%= product.details.subType %>" />

  <img class="list-item-image" src="<%= product.product.image %>" />

  <div class="list-item-details">
    <h4 class="list-item-name"><%= product.product.color %></h4>

    <div class="list-item-information">
      <p class="list-item-brand">
        <%= product.product.name %> <%= product.product.type %>
      </p>

      <p class="list-item-price">$<%= product.price.netPrice %></p>
    </div>

    <div class="list-item-controllers">
      <div class="list-item-buttons">
        <button
          class="list-item-button"
          value="DELETE"
          name="button"
          type="submit"
        >
          <img
            class="list-item-button-image"
            src="/buttons/shop/cart-delete.png"
          />
        </button>

        <button
          class="list-item-button"
          type="submit"
          name="button"
          value="WISH"
        >
          <img class="list-item-button-image" src="/buttons/shop/wish.png" />
        </button>
      </div>

      <div class="list-item-quantity">
        <button
          class="list-item-quantity-button"
          value="DECREASE"
          name="button"
          type="submit"
        >
          <img
            class="list-item-quantity-button-image"
            src="/buttons/basic/arrow-head-left.png"
          />
        </button>

        <p class="list-item-quantity-value"><%= product.price.quantity %></p>

        <button
          class="list-item-quantity-button"
          value="INCREASE"
          name="button"
          type="submit"
        >
          <img
            class="list-item-quantity-button-image"
            src="/buttons/basic/arrow-head-right.png"
          />
        </button>
      </div>
    </div>

    <a class="list-item-explore-link" href="/">
      <p class="list-item-explore-link-text">Explore Details</p>
    </a>
  </div>
</form>
<% }) %>
