<h2 class="skins-title">THE SKINS</h2>

<% skins.forEach((skin) => { %>
<form class="skin-item" action="/account/cart/update" method="post">
  <input type="hidden" name="ID" value="<%= skin.product.ID %>" />
  <input type="hidden" name="brand" value="<%= skin.details.brand %>" />
  <input type="hidden" name="type" value="<%= skin.details.type %>" />
  <input type="hidden" name="subType" value="<%= skin.details.subType %>" />

  <img class="skin-item-image" src="<%= skin.product.image %>" />

  <div class="skin-item-details">
    <h4 class="skin-item-color"><%= skin.product.color %></h4>

    <div class="skin-item-information">
      <p class="skin-item-brand"><%= skin.product.name %></p>
      <p class="skin-item-price">$<%= skin.price.netPrice %></p>
    </div>

    <div class="skin-item-controllers">
      <div class="skin-item-buttons">
        <button
          class="skin-item-button"
          value="DELETE"
          name="button"
          type="submit"
        >
          <img
            class="skin-item-button-image"
            src="/buttons/shop/cart-delete.png"
          />
        </button>

        <button
          class="skin-item-button"
          type="submit"
          name="button"
          value="WISH"
        >
          <img class="skin-item-button-image" src="/buttons/shop/wish.png" />
        </button>
      </div>

      <div class="skin-item-quantity">
        <button
          class="skin-item-quantity-button"
          value="DECREASE"
          name="button"
          type="submit"
        >
          <img
            class="skin-item-quantity-button-image"
            src="/buttons/basic/arrow-head-left.png"
          />
        </button>

        <p class="skin-item-quantity-value"><%= skin.price.quantity %></p>

        <button
          class="skin-item-quantity-button"
          value="INCREASE"
          name="button"
          type="submit"
        >
          <img
            class="skin-item-quantity-button-image"
            src="/buttons/basic/arrow-head-right.png"
          />
        </button>
      </div>
    </div>

    <a class="skin-item-explore-link" href="/">
      <p class="skin-item-explore-link-text">Explore Details</p>
    </a>
  </div>
</form>
<% }) %>
