<% originals.products.forEach((product) => { %>
<form class="originals-slide" action="/account/cart/create" method="post">
  <input type="hidden" name="ID" value="<%= product.ID %>" />
  <input type="hidden" name="brand" value="<%= originals.post.brand %>" />
  <input type="hidden" name="type" value="<%= originals.post.type %>" />
  <input type="hidden" name="class" value="<%= originals.post.class %>" />

  <img class="originals-slide-image" src="<%= product.image %>" />

  <div class="originals-slide-information">
    <h4 class="originals-slide-title">
      THE <%= product.color.toUpperCase() %>
    </h4>

    <div class="originals-slide-details">
      <p class="originals-slide-sponsor">Sony X CyberVerse</p>
      <p class="originals-slide-price">$<%= product.price %></p>
    </div>

    <div class="originals-slide-buttons">
      <div class="originals-slide-form-buttons">
        <button
          class="originals-slide-button"
          type="submit"
          name="add"
          value="CART"
        >
          <img
            class="originals-slide-button-image"
            src="/buttons/shop/cart-add.png"
          />

          <p class="originals-slide-button-text">Add To Cart</p>
        </button>

        <button
          class="originals-slide-button"
          type="submit"
          name="add"
          value="WISH"
        >
          <img
            class="originals-slide-button-image"
            src="/buttons/shop/wish.png"
          />

          <p class="originals-slide-button-text">Wishlist</p>
        </button>
      </div>

      <a class="originals-slide-link" href="/">
        <img
          class="originals-slide-link-image"
          src="/buttons/shop/explore.png"
        />
      </a>
    </div>
  </div>
</form>
<% }) %>
